#topribbon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  text-decoration: none;
}

.navleft {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: left;
  }
  .navright {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: right;
  }

.logo {
    display: flex;
    font-size: 50px;
    font-weight: 300;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    margin-right: 600px;
    font-family: "Cormorant";
    text-decoration: none;
    
}

.nav-links {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    background-color: transparent;
    color: #545454;
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    /*left: 80px*/
}

.nav-links:hover {
  opacity: 0.8;
}
.nav-links:visited {
    text-decoration: none; 
    color: white;
}

