#main {
    display: flex;
}

.welcome {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.mission {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: "Cormorant";
}