#main {
    display: flex;
}

.welcome {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-bottom: -10px;
    font-family: "Cormorant";
}

.mission {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: "Cormorant";
}

.mission-statement {
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family: "Cormorant";
}